<div class="mt-20">
    <form method="post" action="">
  <div class="">
    <label for="search-input">Email address</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="nhập tìm kiếm...">
  </div>

  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>